body
{
    background-color: #fcf8f5;
    margin-top: 50px;
    padding: 0%;
}
/*------------------------Text and Menu on the Left Side------------------------------*/
.text-description
{
    font-family: sans-serif;
    float: left;
    margin-left: 180px;
    margin-top: 70px;
}
.text-description img
{
    margin-left: 0%;
    max-width: 200px;
    height: auto;
}
.text-description h2
{
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;

}
.text-description h3
{
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;

}
body div hr
{
    float: left;
    width: 365px;
    margin-left: 20px;
    opacity: 50%;
}
.text-description h5
{
    margin-left: 20px;
    font-size: 12px;
    font-weight: lighter;
    opacity: 70%;
}
body div ul
{
    font-weight: bold;
    list-style: none outside none;
    float: left;
    margin-left: -60px;
    text-align: center;
}
body div ul li
{
    display: inline-block;
	margin: 0 0 0 20px;
	padding: 0;
	width: auto;
}
body div ul li a
{
    border: solid;
    border-color: transparent;
    border-width: 10px 20px 10px 20px;
    border-radius: 4px;
    color: #000000;
    text-decoration: none;
}
body div ul li a:hover
{
    transition: all 0.5s;
    background-color: #fce7e4;
    color: #da0000;
    border-color: #fce7e4;
}
/*------------------------Donation selection box on the Right Side------------------------------*/
body div.donbox div.boxborder 
{
    box-shadow: 1px 1px 7px rgba(117, 117, 117, 0.192);
    position: relative;
}
body div.donbox div.boxborder img 
{
    position: relative;
    top: -20px;
    max-width: 45px;
    height: auto;
}
body div.boxborder
{
    background-color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 70px;
    float: right;
    max-width: 500px;
    height: auto;
    margin-right: 150px;
    border: solid white;
    border-width: 0px 50px 30px;
    border-radius: 15px;
}
body .boxborder h1
{
    float: inline-start;
    font-size: 26px;
}
body .boxborder h5
{
    font-size: 15px;
    line-height: 0px;
    color: grey;
}
body div.donbox div.boxelements1
{
    display: block;
    border: 1px dotted green;
    background-color: #eeeeee;
    float: left;
    line-height: 1px;
    font-size: 14px;
    padding: 4px 10px;
}
body div.donbox div.boxelements1 h6
{
    color: grey;
    line-height: 0px;
}
body div.donbox div.boxelements1 .recommend
{
    font-size: 12px;
    color: #00ce00;
    line-height: 1px;
    font-weight: normal;
    
}
body div.donbox div.boxelements2
{
    display: block;
    border: 1px dotted green;
    background-color: #eeeeee;
    float: right;
    line-height: 1px;
    font-size: 14px;
    padding: 4px 10px;
}
body div.donbox div.boxelements2 h6
{
    color: grey;
    line-height: 6px;
}
body div.donbox div.boxelements1 .radio1
{
    opacity: 0%;
}
body div.donbox div.boxelements1 .label1
{
    position: absolute;
    left: 47px;
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 4px solid #cfcfcf;
}
body div.donbox div.boxelements1 .radio1:hover + .label1
{
    position: absolute;
    left: 47px;
    height: 6px;
    width: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 6px solid #a0beff;
}
body div.donbox div.boxelements1 .radio1:checked + .label1
{
    position: absolute;
    left: 47px;
    height: 6px;
    width: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 6px solid #1761ff;
}
body div.donbox div.boxelements2 .radio
{
    opacity: 0%;
}
body div.donbox div.boxelements2 .label2
{
    position: absolute;
    right: 47px;
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 4px solid #cfcfcf;
}
body div.donbox div.boxelements2 .radio:hover + .label2
{
    position: absolute;
    right: 47px;
    height: 6px;
    width: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 6px solid #a0beff;
}
body div.donbox div.boxelements2 .radio:checked + .label2
{
    position: absolute;
    right: 47px;
    height: 6px;
    width: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 6px solid #1761ff;
}
body div.donbox div.boxborder div.donatebutton
{
    text-align: center;
}
body div.donbox div.boxborder div.donatebutton a
{
    display: inline-block;
    background: url(../images/donatebutton.png) no-repeat;   
    width: 300px;
    height: 55px;
    background-size: 100%;
    background-position: 0% 0%;
}
body div.donbox div.boxborder div.donatebutton a:hover
{
    background-position: 0% 50%;
}
body div.donbox div.boxborder div.donatebutton a:active
{
    background-position: 0% 100%;
}