<html>
<head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <form action="charge" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_WyK93y9mvps7SN"
            data-amount= {{amount}}
            data-name="TinkerHub Foundation"
            data-description="Donation"
            data-image="th.jpg"
            data-netbanking="true"
            data-description="Donation for TinkerHub foundation"
            data-prefill.name="Gopikrishnan Sasikumar"
            data-prefill.email="gks@tinkerhub.org"
            data-prefill.contact="0000000000"
            data-notes.shopping_order_id="21">
        </script>
        <input type="hidden" name="shopping_order_id" value="21">
    </form> -->
    <div class="main ">

            <div class="first-child ">
                <img src="./assets/logo.png" alt="Logo" class="img">
                <div class="main-p">
                    The world is changing, and we want India to be ready. We're here to make sure that everyone has access to the knowledge required to set the course for a better future.
                </div>
                <!-- <div class="sub"> -->
                    <div class="sub-p">
                        Would you be willing to make a contribution today? A gift amount would mean the world to us.
                    </div>
                    <div class="hr">

                    </div>
                    <div class="small-p">
                        Your contributions are tax deductable. Recipts are sent via email in 5-7 business days. Questions or concerns? Please contact hello@tinkerhub.org
                    </div>
                <!-- </div> -->

                <div class="buttons">
                    <div class="button">
                        Home
                    </div>
                    <div class="button">
                        About Us
                    </div>
                    <div class="button">
                        In News
                    </div>
                    <div class="button button-contact">
                        Contact Us
                    </div>
                </div>
            </div>
            <div class="second-child yellow">
                Ipsum
            </div>


    </div>
</body>
</html>