<html>
<head lang="en">
    <meta charset="utf-8">
    <style>
        body
        {
        background-color: #fcf8f5;
        margin-top: 50px;
        padding: 0%;
        }
        .razorpay-payment-button {
            display:none;

        }
    </style>
</head>
<body>
    <form action="/subscription" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key={{key}}
            data-amount="{{amount}}"
            data-name="TinkerHub Foundation"
            data-description="Donation"
            data-netbanking="true"
            data-subscription_id="{{subscription_id}}"
            data-description="Donation for TinkerHub foundation"
            data-prefill.name=""
            data-prefill.email=""
            data-prefill.contact="+91">
        </script>
        <input type="hidden" custom="hidden" name="hidden">
        <script>
            document.getElementsByTagName("input")[0].setAttribute("id", "paybutt");
            document.getElementById("paybutt").click()
        </script>
    </form>
</body>
</html>